.selected-tab{
    text-align: center;
   
    border-bottom: 2px solid rgba(0, 0, 0, 0.205);
    
    color: green;
}
.selected-tab h5{
    font-size: 22px;
}

.unselected-tab{
    text-align: center;
    
}

.border-left{
    border-left: 2px solid rgba(0, 0, 0, 0.205);
}