.selected-tab{
    text-align: center;
   
    border-bottom: 2px solid rgba(255, 72, 0, 0.223);
    
    color: rgb(255, 72, 0);
}
.selected-tab h5{
    font-size: 22px;
}

.unselected-tab{
    text-align: center;
    
}

.border-left{
    border-left: 2px solid rgba(255, 72, 0, 0.623);
}

.test{
    z-index: 1100;
}